* {
    font-family: 'Montserrat', sans-serif;
}

thead {
    background-color: #1b4e8d;
    color: white;
}

.bg-grey {
    background-color: #e2e5ea;
}

.bg-dark-blue {
    background-color: #1b4e8d;
}

.text-dark-blue {
    color: #1b4e8d;
}

.btn-dark-blue {
    --bs-btn-color: #fff;
    --bs-btn-bg: #1b4e8d;
    ;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.div-content {
    padding: 3rem;
    margin: 2.5rem;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.active .page-link {
    background-color: #1b4e8d;
    color: white !important;
}

.page-item .page-link {
    color: black;
}

.btn-excel {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(37, 89, 0);
    --bs-btn-border-color: rgb(37, 89, 0);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(40, 132, 47);
    --bs-btn-hover-border-color: rgb(40, 132, 47);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(40, 132, 47);
    --bs-btn-active-border-color: rgb(40, 132, 47);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(40, 132, 47);
    --bs-btn-disabled-border-color: rgb(40, 132, 47);
}

.btn-pdf {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(252, 149, 23);
    --bs-btn-border-color: rgb(236, 165, 77);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(236, 165, 77);
    --bs-btn-hover-border-color: rgb(236, 165, 77);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(236, 165, 77);
    --bs-btn-active-border-color: rgb(236, 165, 77);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(236, 165, 77);
    --bs-btn-disabled-border-color: rgb(236, 165, 77);
}

.dataTables_info {
    margin: 0 !important;
    padding: 0 !important;
}

.dataTables_length label {
    margin: 0 !important;
    display: flex;
    align-items: center;
}

.dataTables_length .form-select {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}


.custom-card {
    border-radius: 10px; /* Borda arredondada */
    border: none; /* Remove as bordas */
    overflow: hidden; /* Esconde o overflow para a sombra não aparecer fora do card */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para fora na parte inferior */
}

.custom-card-body {
    padding: 20px; /* Espaçamento interno do card */
}

.custom-card-body-title {
    padding: 5px; /* Espaçamento interno do card */
    margin-top: 60px; 
    width: 300px; /* largura do card */

}
.custom-card-body-text {
    width: 300px; /* largura do card */
      display: grid;
      align-items: center; /* centraliza verticalmente */
}


.imagem-destaque{
    margin-top: 40px; 
    margin-bottom: 40px; 
    border: 6px solid rgb(223, 225, 226); 
}

.imagem-colocacao{
    margin-left: 120px; 

    margin-top: 40px; 
    margin-bottom: 40px; 
}


.colocacao-format{
    width: 300px;
    margin-top: 80px; 
    font-size: 40px;
    color: rgb(90, 130, 171);
    font-weight: bold;

}

.diagonal-background {
    position: relative;
    overflow: hidden; /* Evita que o triângulo ultrapasse os limites do card */
    padding: 0;
}

.diagonal-background-white {
    position: relative;
    overflow: hidden; /* Evita que o triângulo ultrapasse os limites do card */
}

.diagonal-background-red {
    position: relative;
    overflow: hidden; /* Evita que o triângulo ultrapasse os limites do card */
}


.diagonal-background::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 60px 60px 0; /* Triângulo na quina do card */
    border-color: transparent transparent #00008B transparent; /* Azul */
    z-index: 4; /* Segunda prioridade */
    transform: rotate(90deg);
}

.diagonal-background-white::before{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 80px 80px 0; /* Triângulo na quina do card */
    border-color: transparent transparent #ffffff transparent; /* Branco */
    z-index: 3; /* Terceira prioridade */
    transform: rotate(90deg);
    border: 10;
    border-right: 10;

}

.diagonal-background-red::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 100px 100px 0; /* Triângulo na quina do card */
    border-color: transparent transparent #FF0000 transparent; /* Vermelho */
    z-index: 0; /* Maior prioridade */
    transform: rotate(90deg);
    
    
}

.diagonal-background::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 40px 40px 0; /* Triângulo na quina do card */
    border-color: transparent transparent #FFFFFF transparent; /* Branco */
    z-index: 5; /* Menor prioridade */
    transform: rotate(90deg);
}
